:root {
    --bg-body: #234E8F;
    --buttons: #66ECBC;
    --btn-text: #234E8F;
    --text: #2F2F2F;
    --bubble-head-1: #F5941D;
    --bubble-head-2: #416BE4;
    --bubble-head-3: #34C935;
    --box-container: #668CF2;
    --box-container2: #ecf4fd;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
nav {
    background-color: none;
    transition: background-color 0.3s ease-in-out;
}

.navSmallScreen {
    background-color: var(--bg-body);
}

nav.scrolled {
   background-color: white;
   opacity: 0.98; 
}

.navBrandColor {
    color: var(--bg-body);
}

.navbar-brand {
    padding-left: 5%;
    font-weight: 700;
    z-index: 1;
}

.navbar_items {
    margin-right: 5%;
    transition: color 0.4s ease-in-out;
}

.navbar_items.scrolled {
    color: black;
}

.navbar_btn_contact {
    color: var(--bg-body);
    background-color: var(--buttons);
    font-size: large;
    border: none;
}

.nav_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* Banner */
.welcome_txt {
    font-weight: 200;
    margin-top: 25px;
}

.btn-discover {
    margin-top: 20px;
    color: var(--bg-body);
    background-color: var(--buttons);
    font-size: large;
    border: none;
}

.welcome_container {
    z-index: 0;
    position: relative;
}

.welcome-content {
    margin-left: 10%;
    margin-top: 20%;
    position: relative;
    z-index: 1;
}

.welcome_container_row {
    height: 100vh;
}


.col-intro {
    background: var(--bg-body);
    margin: 0;
    color: white;
    padding-bottom: 20px
}


.col2 .team{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.watermark {
    position: absolute;
    right: 60%;
    top: 10px;
    z-index: 0;
    width: auto;
    height: 200px;
}

/* Achievements and Stats */
.achievements {
    display: flexbox;
}

.achievement_wrapper {
    position: relative;
    margin: -2.5% 2.5% 2.5% 2.5%;
}

.stats_col {
    background: var(--box-container2);
    height: 290px;
}


.logo_colored {
    width: auto;
    height: 150px;
    z-index: 0;
    overflow: hidden;
}

.logo_img {
    top: 0;
    left: 0;
    width: 100%;
    
}

.stats_header {
    position: relative;
    z-index: 1;
}


/* Marketing */
.marketing_container {
    clear: both;
    margin-top: 10%;
}

.marketing_content {
    margin: 3%;
}

/* Field work */
.field_container {
    background: linear-gradient(#F0F7FF, #FFFFFF);
    padding: 5%;
}

.field_work {
    margin-top: 4%;
    max-width: 100%;
}

.field_title {
    color: var(--bg-body);
    margin-top: 4%;
}

.field_content {
    margin-top: 3%;
}

.field_btn {
    width: 100%;
    color: var(--bg-body);
    background-color: var(--buttons);
    border: none;
    margin-top: 3%;
}

/* Schedule a free consult */
.consult_container {
    background-color: var(--box-container);
    margin-left: 6%;
    margin-right: 6%;
}

.consult_btn_wrapper {
    width: 100%; 
}

.consult_btn {
    color: var(--bg-body);
    background-color: var(--buttons);
    border: none;
    width: 80%;
}

/* Articles */
.article_parent_wrapper {
    margin-top: 8%;
    margin-bottom: 10%;
    
}

.article_child_wrapper {
    width: 100%;
    margin-top: 3%;
}

.article_title {
    margin-top: 5%;
}

.article_btn {
    color: var(--bg-body);
    background-color: var(--buttons);
    border: none;
    width: 40%;
}

/* Partners */
.partners_wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

/* Footer */
.footer {
    margin-top: 10%;
    margin-bottom: 5%;
}

.footer p {
    font-weight: 200;
    color: var(--bg-body);
}

.footer h5 {
    color: var(--bg-body);
}

.footer form {
    margin-top: 7%;
}

.footer_form {
    margin-bottom: 5%;
}

.footer li {
    font-weight: 200;
    color: var(--bg-body);
}

.footer .form-label::after {
    content: " *";
    color: red;
}


/* Contact us */
.contact_container {
    background: url(assets/images/client\ commitment\ blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.contact_message {
    padding: 10%;
}

.footer_form .form-label::after {
    content: " *";
    color: red;
}


/* Tablet mode */
@media (min-width:800px) {
    .navbar-brand {
        padding-left: 10%;
    }

    .btn-contact {
        margin-right: 10%;
    }

    .welcome-content {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 20%;
    }
    .watermark {
        height: calc(70% - 70px);
    }

    .logo_colored {
        width: auto;
        height: 200px;
    }

    .field_title {
        margin-top: 0%;
    }

    .consult_img_wrapper {
        position: relative;
    }

    .consult_img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .consult_btn_wrapper {
        position: absolute;
        width: 80%;
        top: 10%;
        left: 10%;
        z-index: 1;
    }
}

/* desktop mode */
@media (min-width:1000px) {

    .navbar-brand {
        padding-left: 12%;
    }

    .navbar_items {
        margin-right: 10%;
    }

    .welcome-content {
        margin-left: 25%;
        margin-right: 13%;
        margin-top: 30%;
    }

    .watermark {
        position: absolute;
        right: 60%;
        top: 10px;
        z-index: 0;
        width: auto;
        height: 500px;
    }

    .logo_colored {
        width: auto;
        height: 250px;
    }

    .stats_img {
        margin-top: 25%;
    }

    .field_title {
        margin-top: 0%;
    }

    .consult_img_wrapper {
        position: relative;
    }

    .consult_img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .consult_img {
        z-index: 0;
    }
    
    .consult_btn_wrapper {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
        z-index: 1;
    }
}














